/*For all pages to reference*/
/*Text Types*/
.topHeader {
    text-align: center;
    font-family: Arial, Arial, Helvetica, sans-serif;
    color: #3D3D3D;
    font-size: 2.3em;
}

.subHeader {
    text-align: center;
    font-family: Arial, Arial, Helvetica, sans-serif;
    color: #707070;
    font-size: 1.5em;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    color: #3D3D3D;
    font-size: 1em;
}
.section {
    margin-left: 20%;
    margin-right: 20%;
    font-family: Arial, Arial, Helvetica, sans-serif;
}

hr {
    background: #3D3D3D;
    height: 0.1em;
}

.sectionHeader {
    text-align: left;
    color: #3D3D3D;
    font-size: 1.25em;
    margin-bottom: 0.2em;
}

.courses {
    font-size: 1.3em;
    color: #707070;
}

li:not(:last-child) {
    margin-bottom: 1.2em;
}

/*landingpage*/

.column {
    margin-left: 19%;
    display: inline-block;
    width: 20%;
}

img.column {
    width: 85%;
    height: auto;
}

p.column {
    width: 85%;
    color:#3D3D3D;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: center;
}

/*loginpages*/

div.logIcon {
    width: 33.3%;
    height: auto;
    display: inline-block;
}

#nonIcon {
    width: 15%;
    height: auto;
}

#selectedIcon {
    width: 50%;
    height: auto;
}

div.logincontainer {
    width:10%;
    height: auto;
    display: inline-block;
}

div.logincontainer > input {
    width: 100%;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    margin: 8px 0;
    cursor: pointer;
}

div.logincontainer > label {
    width: 100%;
    color: #3D3D3D;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    margin: 8px 0;
    cursor: pointer;
}

/*Student Dashboard*/
#quizSpace {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#questionNumber {
    margin-left: 2%;
    font-weight: bold;
    text-align: left;
    color: #3D3D3D;
}

#quizHeader {
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
    border-style: solid;
    border-color: gray;
    border-width: 0.1em;
}